* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  min-height: 100vh;

  margin: 0;
  scroll-behavior: smooth;
  background-color: #202124;
}

@media (max-width: 1700px) {
}

:target {
  scroll-margin-top: 0.8em;
}

.main {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  background-color: #30ffdd;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #ffffff;
  flex-basis: 80px;
}

.logo-Oracle-Alura {
  position: relative;
  width: 350px;
  height: 35px;
  top: 16px;
  left: 30px;
}

.imagem {
  position: relative;
  width: 300px;
  height: 75px;
}

.middle {
  /* flex-grow: 10; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*align-items: flex-start;*/
  height: 900px;
  background-color: #202124;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  width: 400px;
  height: 200px;
}

.titlesFormat {
  transform: translate(-50%, -100%);
  position: relative;

  text-align: center;
  left: 50%;
  top: 100px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  position: relative;
  font-size: 60px;
  margin-bottom: 0;
}

#underline {
  position: absolute;
  display: none;

  left: 77%;
  top: 10%;
  font-size: 60px;
  color: white;
  animation: blink 0.5s infinite linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h2 {
  position: relative;
  top: 2px;
  font-size: 24px;
}

.mainContent {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 66.3rem;
  height: 25rem;

  /*background-color: lightcoral;*/
}

.textSpace {
  display: flex;

  justify-content: space-between;

  font-size: 60px;
  padding: 30px;

  width: 62.5rem;
  height: 300px;
  /*background-color: antiquewhite;*/
}

.textArea {
  text-align: start;
  resize: none;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #202124;
  background-color: #30ffdd; /*sobre tom escuro:141310*/

  width: 300px;
  height: 300px;
  padding: 10px;

  border-color: #d5e2eb;
  border-style: solid;
  border-width: 1.5px;
  border-radius: 5px;
  border-style: hidden;
  outline: none;

  z-index: 1;
}

#lock {
  width: 200px;

  z-index: 1;
}

#dataLine {
  position: fixed;

  width: 150px;
  left: 31%;
  top: 47%;
  display: none;
}

#dataLine2 {
  position: fixed;

  width: 150px;
  right: 31%;
  top: 15%;
  display: none;
}

.dataSvg {
  position: fixed;

  width: 150px;
  left: 31%;
  top: 47%;
}

.dataSvg2 {
  position: fixed;

  width: 150px;
  right: 31%;
  top: 15%;
}

.animate {
  stroke: #202124;
  stroke-width: 2px;
  stroke-dashoffset: 10;
  stroke-dasharray: 12;
  animation: svganimation 5s linear forwards;
}

@keyframes svganimation {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 800;
  }
}

.buttonSpace {
  position: relative;
  top: 0;
  height: 3rem;
  width: 66.3rem;
  /*background-color: lawngreen;*/
}

.leftButtons {
  position: relative;
  left: 1.8rem;
  width: 10rem;
  height: 2.4rem;

  color: #202124;
  background-color: #d5e2eb;

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;

  border-radius: 6px;
  border-style: hidden;

  cursor: pointer;
}

.buttons {
  width: 100px;
  height: 2.3rem;

  color: #202124;
  background-color: #d5e2eb; /*30ffdd*/

  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 26px;

  border-radius: 6px;
  border-style: hidden;

  cursor: pointer;
}

#copy {
  position: fixed;
  width: 20rem;
  right: 1.87rem;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-basis: 100px;
  /* flex-grow: 2; */
  background-color: #202124; /*#03120e #3e505b*/
  /*background-color: #3064ff; /*#03120e #3e505b*/
}

.dev {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 10px;

  align-self: center;
  text-align: center;
  top: 50%;

  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.scroll {
  height: 300px;
  bottom: 300px;
  background-color: #e2e4f6;
  clip-path: polygon(28% 30%, 60% 6%, 100% 30%, 100% 98%, 0 100%, 0 0);
}
