html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.top {
  flex-grow: 1;
  background-color: #517596;

  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #8ab0ab;
}

.middle {
  flex-grow: 10;
  flex-direction: column;
  align-items: flex-start;

  background-color: #202124;
}

.titlesContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;

  width: 400px;
  left: 10%;
  top: 6%;
}

.titlesFormat {
  transform: translate(-50%, -50%);
  position: relative;

  text-align: center;
  left: 50%;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1 {
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  position: relative;
  top: 2px;
  font-size: 30px;
}

.mainContent {
  position: fixed;
  display: flex;
  flex-direction: column;

  top: 63%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 66.3rem;
  height: 25rem;

  /*background-color: lightcoral;*/
}

.textSpace {
  position: relative;
  display: flex;

  justify-content: space-between;

  font-size: 60px;
  padding: 30px;

  width: 62.5rem;
  height: 300px;
  /*background-color: antiquewhite;*/
}

.textArea {
  text-align: start;
  resize: none;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #202124;

  width: 300px;
  height: 300px;
  padding: 10px;

  border-radius: 10px;
  border-style: hidden;
  outline: none;

  z-index: 1;
}

#lock {
  width: 200px;

  z-index: 1;
}

#dataLine {
  position: fixed;

  width: 150px;
  left: 31%;
  top: 47%;
}

#dataLine2 {
  position: fixed;

  width: 150px;
  right: 31%;
  top: 15%;
}

.buttonSpace {
  position: relative;
  height: 3rem;
  width: 66.3rem;
  /*background-color: lawngreen;*/
}

.leftButtons {
  position: relative;
  left: 1.8rem;
  width: 10rem;
  height: 2.4rem;
}

.buttons {
  width: 100px;
  height: 2.3rem;
}

#copy {
  position: fixed;
  width: 20rem;
  right: 1.87rem;
}

.footer {
  flex-grow: 2;
  background-color: #202124; /*#03120e #3e505b*/
}
